<div class="row">
        <div class="col-md-4 col-md-offset-4">
          <h1>Login</h1>

          <div class="well">
            <form role="form" ng-submit="vm.login()">
              <div class="alert alert-danger" ng-show="error" ng-bind="error"></div>

              <div class="form-group">
                <label for="login__email">Email</label>
                <input type="text" class="form-control" id="login__email" ng-model="vm.email" placeholder="Email address" />
              </div>

              <div class="form-group hidden">
                <label for="login__username">Username</label>
                <!--<input type="text" class="form-control" id="login__username" name="username" ng-model="vm.email" ng-value="vm.email" placeholder="" />-->
                <input type="text" class="form-control" id="register__username" ng-model="vm.email" ng-bind="{{ vm.username }}" placeholder="" />
              </div>

              <div class="form-group">
                <label for="login__password">Password</label>
                <input type="password" class="form-control" id="login__password" ng-model="vm.password" placeholder="Password" />
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
